<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% seo %}
</head>
<body>
<div id="frame" style="width: 336px;margin: auto;z-index: 99998;height: 280">

          <iframe data-aa='2420055' src='//ad.a-ads.com/2420055/?size=336x280'

                            style='border:0; padding:0; width:320px; height:100px; overflow:hidden;display: block;margin: auto'></iframe>

</div>
  <header class="main-header">
    <div class="container">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    </div>
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer class="main-footer">
    <div class="container">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </div>
  </footer>

</body>
</html>
